@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Sigmar One", cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
  padding: .002em 0em .2em;
}

nav {
  margin: 0;
  text-align: center;
  padding: 0 0 1em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

header {
  background-color: #ffe500;
}

a {
  margin: 0;
  font-family: Georgia, serif;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1rem;
  display: inline-block;
  max-width: 8em;
  background-color: #b2a212;
  padding: .5em;
  border-radius: 5px;
}

a:hover {
  margin: 0;
  background-color: #cc1465;
  color: #fff;
  padding: .5em;
  border-radius: 5px;
}

.current {
  background-color: #cc1465;
}

h2 {
  margin: 0;
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
  padding: 10px 5px;
}

.body-text {
  font-family: Georgia, serif;
  font-size: 1.125rem;
  color: #2f2d13;
}

footer {
  font-family: Georgia, serif;
  text-align: center;
  font-size: .75rem;
  color: #2f2d13;
  background-color: #ffe500;
  padding: 15px;
}

body {
  padding: 0;
  margin: 0;
}

figure p {
  margin: 0;
  text-align: left;
  font-family: Georgia, serif;
  font-size: 1.125rem;
  padding: 0;
  color: #2f2d13;
}

main {
  background-color: #fff;
  padding: 3.9px;
}

img {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}
